In [1]:
import pandas as pd
import numpy as np
import socket
import time

In [2]:
authorIdList = open('authorids.txt').readlines()

In [3]:
len(authorIdList)

123609

In [4]:
host = '95.217.155.82'
port = 8003

In [5]:
def get_authors_with_data(host, port, request):
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.connect((host, port))

    byt = request.encode()
    s.send(byt)
    
    answer = s.recv(1024)

    s.close()
    
    strAns = answer.decode('utf-8')
    cleanAns = clean_ans(strAns)
    
    return cleanAns

In [ ]:
authorsWData = []

#change range to len(authorIdList) or int
for i in range(100):
    author = authorIdList[i]
    request = 'aume?seco_team2_22?37\n' + author

    answer = get_authors_with_data(host, port, request)

    if answer[0] == 'No results found.':
        print(i)
        print('no results')
        if i % 1000 == 0:
            print(i)
    else:
        print(i)
        if i % 1000 == 0:
            print(i)
        authorsWData.append(author)       

textfile = open('authorsWData.txt', 'w')
for author in authorsWData:
    textfile.write(author)
textfile.close()

authorsWData

In [6]:
def make_request(host, port, request):
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.connect((host, port))

    byt = request.encode()
    s.send(byt)
    
    answer = request_loop(s)

    s.close()
    
    return answer

In [7]:
def request_loop(s, timeout=2):
    s.setblocking(0)
    total_data = []
    data = ''
    begin = time.time()

    while 1:
        if total_data and time.time()-begin > timeout:
            break
        elif time.time()-begin > timeout*2:
            break
        
        try:
            data = s.recv(4096)
            if data:
                data = data.decode('utf-8')
                total_data.append(data)
                begin = time.time()
            else:
                time.sleep(0.1)
        except:
            pass

    return ''.join(total_data)

In [8]:
def clean_ans(answer):
    answer = answer.splitlines()
    answer.pop(0)
    
    return answer

In [9]:
def create_list(answer):
    answerList = []
    if answer[0] == 'No results found.':
        return 'no'
    else:
        for i in answer:
            el = i.split('?')
            answerList.append(el)

    return answerList

In [10]:
def no_projects_per_author(answer):
    projectIdList = []
    authorDict = {}

    for m in answer:
        projectIdList.append(m[2])

    uniqueProjects = set(projectIdList)
    noProjects = len(uniqueProjects)
    
    authorDict['authorId'] = answer[0][0]
    authorDict['numberOfProjects'] = noProjects
    
    return authorDict

In [ ]:
projPerAuthor = []

for i in range(100):
    author = authorIdList[i]
    request = 'aume?seco_team2_22?37\n' + author
    
    print(i)
    
    answer = make_request(host, port, request)
    clean_answer = clean_ans(answer)
    answer_list = create_list(clean_answer)
    if answer_list != 'no':
        authProjNo = no_projects_per_author(answer_list)
        projPerAuthor.append(authProjNo)
    
projPerAuthor

In [11]:
fullList = []
for i in range(0, 80000, 100):
    callList = authorIdList[i:i+100]
    authors = ''.join(callList)
    request = 'aume?seco_team2_22?3700\n' + authors
    answer = make_request(host, port, request)
    if answer:
        cleanAns = clean_ans(answer)
        methodList = create_list(cleanAns)
        if methodList != 'no':
            for m in methodList:
                fullList.append(m)
    else:
        print('skipped ', i, i+100)
    if i % 1000 == 0:
        print(i)
        print(time.ctime())

print('Creating DataFrame...')
print(time.ctime())
authorMethodDf = pd.DataFrame(fullList, columns=['authorID', 'methodHash', 'projectID', 'projectVersion'])

print('Dropping NaN values...')
print(time.ctime())
authorMethodDf = authorMethodDf.dropna()

print('Converting columns...')
print(time.ctime())
convertDict = {
    'projectID': np.int64,
    'projectVersion': np.int64
}
authorMethodDf = authorMethodDf.astype(convertDict)

#authorMethodDf['projectID'] = pd.to_numeric(authorMethodDf['projectID'], errors='coerce')
#authorMethodDf['projectVersion'] = pd.to_numeric(authorMethodDf['projectVersion'], errors='coerce')

print('Writing to csv file...')
print(time.ctime())
authorMethodDf.to_csv('authorMethodV2.csv')

print('Done')
print(time.ctime())

0
Wed Mar 16 15:53:46 2022
1000
Wed Mar 16 15:55:10 2022
2000
Wed Mar 16 15:56:25 2022
3000
Wed Mar 16 15:57:55 2022
4000
Wed Mar 16 15:59:01 2022
skipped  4200 4300
skipped  4600 4700
5000
Wed Mar 16 15:59:44 2022
6000
Wed Mar 16 16:00:42 2022
skipped  6900 7000
7000
Wed Mar 16 16:01:32 2022
skipped  7700 7800
8000
Wed Mar 16 16:02:33 2022
skipped  8400 8500
9000
Wed Mar 16 16:03:12 2022
skipped  9200 9300
10000
Wed Mar 16 16:04:02 2022
skipped  10900 11000
11000
Wed Mar 16 16:04:54 2022
12000
Wed Mar 16 16:05:43 2022
13000
Wed Mar 16 16:06:41 2022
skipped  13800 13900
14000
Wed Mar 16 16:07:30 2022
skipped  14600 14700
15000
Wed Mar 16 16:08:24 2022
16000
Wed Mar 16 16:09:16 2022
skipped  16300 16400
17000
Wed Mar 16 16:10:10 2022
18000
Wed Mar 16 16:11:15 2022
19000
Wed Mar 16 16:12:14 2022
20000
Wed Mar 16 16:13:00 2022
21000
Wed Mar 16 16:13:50 2022
skipped  21200 21300
22000
Wed Mar 16 16:14:39 2022
skipped  22500 22600
23000
Wed Mar 16 16:15:38 2022
24000
Wed Mar 16 16:16:30 2022
25000
Wed Mar 16 16:17:14 2022
26000
Wed Mar 16 16:18:07 2022
skipped  26400 26500
27000
Wed Mar 16 16:19:08 2022
28000
Wed Mar 16 16:19:54 2022
29000
Wed Mar 16 16:20:36 2022
skipped  29100 29200
30000
Wed Mar 16 16:21:25 2022
31000
Wed Mar 16 16:22:17 2022
32000
Wed Mar 16 16:24:30 2022
skipped  32100 32200
33000
Wed Mar 16 16:25:27 2022
34000
Wed Mar 16 16:26:22 2022
35000
Wed Mar 16 16:27:09 2022
36000
Wed Mar 16 16:28:01 2022
skipped  36300 36400
37000
Wed Mar 16 16:28:57 2022
skipped  37900 38000
38000
Wed Mar 16 16:29:40 2022
39000
Wed Mar 16 16:30:26 2022
skipped  39300 39400
40000
Wed Mar 16 16:33:49 2022
41000
Wed Mar 16 16:34:36 2022
42000
Wed Mar 16 16:35:17 2022
43000
Wed Mar 16 16:35:56 2022
skipped  43600 43700
44000
Wed Mar 16 16:36:44 2022
45000
Wed Mar 16 16:37:24 2022
skipped  45100 45200
skipped  45900 46000
46000
Wed Mar 16 16:38:22 2022
skipped  46300 46400
47000
Wed Mar 16 16:39:10 2022
48000
Wed Mar 16 16:39:51 2022
49000
Wed Mar 16 16:40:33 2022
50000
Wed Mar 16 16:44:41 2022
skipped  50800 50900
51000
Wed Mar 16 16:45:28 2022
skipped  51700 51800
52000
Wed Mar 16 16:46:08 2022
53000
Wed Mar 16 16:46:57 2022
54000
Wed Mar 16 16:47:44 2022
55000
Wed Mar 16 16:48:30 2022
56000
Wed Mar 16 16:49:16 2022
57000
Wed Mar 16 16:50:02 2022
skipped  57600 57700
58000
Wed Mar 16 16:50:56 2022
59000
Wed Mar 16 16:51:41 2022
60000
Wed Mar 16 16:52:30 2022
skipped  61000 61100
61000
Wed Mar 16 16:53:22 2022
skipped  61400 61500
62000
Wed Mar 16 16:59:39 2022
63000
Wed Mar 16 17:00:29 2022
64000
Wed Mar 16 17:01:17 2022
skipped  64100 64200
65000
Wed Mar 16 17:02:01 2022
skipped  65900 66000
66000
Wed Mar 16 17:02:46 2022
skipped  66800 66900
67000
Wed Mar 16 17:03:29 2022
68000
Wed Mar 16 17:04:10 2022
skipped  69000 69100
69000
Wed Mar 16 17:04:56 2022
skipped  69700 69800
70000
Wed Mar 16 17:05:43 2022
skipped  70400 70500
skipped  70500 70600
skipped  70700 70800
71000
Wed Mar 16 17:06:35 2022
72000
Wed Mar 16 17:07:28 2022
skipped  72700 72800
73000
Wed Mar 16 17:08:16 2022
skipped  73200 73300
74000
Wed Mar 16 17:08:58 2022
skipped  74700 74800
skipped  74800 74900
75000
Wed Mar 16 17:09:50 2022
skipped  75100 75200
skipped  75200 75300
skipped  75300 75400
skipped  75400 75500
skipped  75500 75600
skipped  75600 75700
skipped  75700 75800
skipped  75800 75900
skipped  75900 76000
skipped  76000 76100
76000
Wed Mar 16 17:10:32 2022
skipped  76100 76200
skipped  76200 76300
skipped  76300 76400
skipped  76400 76500
skipped  76500 76600
skipped  76600 76700
skipped  76700 76800
skipped  76800 76900
skipped  76900 77000
skipped  77000 77100
77000
Wed Mar 16 17:11:12 2022
skipped  77100 77200
skipped  77200 77300
skipped  77300 77400
skipped  77400 77500
skipped  77500 77600
skipped  77600 77700
skipped  77700 77800
skipped  77800 77900
skipped  77900 78000
skipped  78000 78100
78000
Wed Mar 16 17:11:53 2022
skipped  78100 78200
skipped  78200 78300
skipped  78300 78400
skipped  78400 78500
skipped  78500 78600
skipped  78600 78700
skipped  78700 78800
skipped  78800 78900
skipped  78900 79000
skipped  79000 79100
79000
Wed Mar 16 17:12:33 2022
skipped  79100 79200
skipped  79200 79300
skipped  79300 79400
skipped  79400 79500
skipped  79500 79600
skipped  79600 79700
skipped  79700 79800
skipped  79800 79900
skipped  79900 80000
Creating DataFrame...
Wed Mar 16 17:13:09 2022
Dropping NaN values...
Wed Mar 16 17:39:50 2022
Converting columns...
Wed Mar 16 17:52:16 2022
Writing to csv file...
Wed Mar 16 18:04:06 2022
Done
Wed Mar 16 18:09:00 2022

In [12]:
authorMethodDf

,authorID,methodHash,projectID,projectVersion
0,e157cee2-b5b5-2466-14a8-717e9de1ce4c,b8a899ee5f7c93361e215edf5be05462,3477431694,1273494526000
1,a0c11df7-5118-e7d6-59c3-65223bf5b5a0,64132196448efd90223a4f7f16f0ae25,1821731652,1275264487000
2,a0c11df7-5118-e7d6-59c3-65223bf5b5a0,b8a76bcb30cd6afc1476ad39fc355317,949829554,1275264520000
3,a0c11df7-5118-e7d6-59c3-65223bf5b5a0,165944a511b4539a285f269aaac95437,2915245721,1272340059000
4,a0c11df7-5118-e7d6-59c3-65223bf5b5a0,165944a511b4539a285f269aaac95437,2915245721,1278425588000
...,...,...,...,...
30250261,1ce151e9-89e4-c24e-19f4-a2528a2da121,431f4e8f211d5f9a56fae1a0e8d47320,352558408,1426521636
30250262,1ce151e9-89e4-c24e-19f4-a2528a2da121,0ad0aaa9d2d046bfe7dc3aafc5f3566e,352558408,1443456392
30250263,1ce151e9-89e4-c24e-19f4-a2528a2da121,0ad0aaa9d2d046bfe7dc3aafc5f3566e,352558408,1444969846
30250264,edf67142-19da-8f47-ab69-6c1b37b94010,e606abc81be49f08071fc04e3386ad47,2011939588,1400533413
30250265,edf67142-19da-8f47-ab69-6c1b37b94010,1946c80c523d99b5f582dac22377a522,1609796790,1306894266000

In [13]:
authorMethodDf.dtypes

authorID          object
methodHash        object
projectID          int64
projectVersion     int64
dtype: object

In [ ]:
callList = authorIdList[850:900]
authors = ''.join(callList)
request = 'aume?seco_team2_22?1850\n' + authors
answer = make_request(host, port, request)
print(answer)
#cleanAns = clean_ans(answer)
#methodList = create_list(cleanAns)

In [ ]:
for i in range(850,900,1):
    author = authorIdList[i]
    request = 'aume?seco_team2_22?37\n' + author
    answer = make_request(host,port,request)
    print(answer)

In [ ]:
author = authorIdList[4]
request = 'aume?seco_team2_22?37\n' + author

answer = make_request(host, port, request)
answer

In [ ]:
clean_answer = clean_ans(answer)
clean_answer

In [ ]:
answer_list = create_list(clean_answer)
answer_list

In [ ]:
authProjNo = no_projects_per_author(answer_list)
authProjNo

In [ ]:
request = 'aume?seco_team2_22?111\n' + authorIdList[3435] + authorIdList[876] + authorIdList[946]

In [ ]:
answer = make_request(host, port, request)
cleanAns = clean_ans(answer)
methList = create_list(cleanAns)
methList

In [ ]:
author = authorIdList[4890]
request = 'idau?seco_team2_22?37\n' + author

author

In [ ]:
devs = []

for i in range(50):
    author = authorIdList[i]
    request = 'idau?seco_team2_22?37\n' + author
    
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.connect((host, port))

    byt = request.encode()
    s.send(byt)
    answer = s.recv(4096)

    s.close()

    answer = answer.decode('utf-8')
    answer = answer.splitlines()
    devList = answer[1].split('?')
    devs.append(devList)

devs

In [ ]:
df = pd.DataFrame.from_records(devs)
df

In [ ]:
df.to_csv('authors.csv')

In [ ]:
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect((host, port))

byt = request.encode()
s.send(byt)
answer = s.recv(4096)

s.close()

answer = answer.decode('utf-8')
answer = answer.splitlines()
devList = answer[1].split('?')

devList

In [ ]:
author = authorIdList[17]
request = 'aume?seco_team2_22?37\n' + author

In [ ]:
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect((host, port))

byt = request.encode()
s.send(byt)

def request_loop_old(s, timeout=2):
    s.setblocking(0)
    total_data = []
    data = ''
    begin = time.time()

    while 1:
        if total_data and time.time()-begin > timeout:
            break
        elif time.time()-begin > timeout*2:
            break
        
        try:
            data = s.recv(4096)
            if data:
                data = data.decode('utf-8')
                total_data.append(data)
                begin = time.time()
            else:
                time.sleep(0.1)
        except:
            pass

    return ''.join(total_data)

answer = request_loop(s)

s.close()

answer

In [ ]:
answer = answer.decode('utf-8')
answer = answer.splitlines()
answer

In [ ]:
answer.pop(0)
answer

In [ ]:
if answer[0] == 'No results found.':
    print('No results')
else:
    answerList = []

    for i in answer:
        method = i.split('?')
        answerList.append(method)

    projectIdList = []

    for m in answerList:
        projectIdList.append(m[2])

    uniqueProjects = set(projectIdList)
    print(len(uniqueProjects))